@use 'src/styles/vars' as v;

.stuff{
    display: flex;
    align-items: flex-end;
    width: 35%;

    &-ring-slot, &-cuff-slot, &-companion-slot{
        width: 90px;
        height: 90px;
        background-color: v.$color-slot;
        margin: v.$gutter;
        cursor: pointer;
    }
}