@use "sass:color";

$color-background: #fafafa;
$color-app-container: #ffffff;
$color-title: #ffffff;
$color-background-title: #17203a;
$color-slot: #ffffff;

$font-title: 2em;
$font-text: 1.2em;

$round:0.2em;

$gutter: 1rem;