@use "sass:color";

$color-background: #fafafa;
$color-app-container: #ffffff;
$color-title: #ffffff;
$color-background-title: #17203a;
$color-slot: #ffffff;
$color-line: #ffffff;
$color-cross: red;
$color-error: red;

$font-title: 2em;
$font-text: 0.9em;

$round:0.2em;

$gutter: 1rem;

