@use 'reset';
@use 'vars';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
