@use 'src/styles/vars' as v;

.main {
  background-color: v.$color-app-container;
  font-size: v.$font-text;

  &-title{
    text-align: center;
    font-size: v.$font-title;
    color:v.$color-title;
    background-color: v.$color-background-title;
    padding: v.$gutter;
  }

  &-container{
    width: 90vw;
    max-height: calc(440px + 2*v.$gutter);
    border-radius: v.$round;
    margin: v.$gutter*2 auto;
    margin-top: v.$gutter*4;
    background-color: v.$color-background;
    padding: v.$gutter;
    display: flex;
    justify-content: space-between;
    &.active{
      align-items: center;
    }
  }

  &-error{
    text-align: center;
    color: v.$color-title;
    background-color: v.$color-error;
    padding: v.$gutter;
    position: absolute;
    width: 100%;
  }
}
