@use 'src/styles/vars' as v;

.stuff{
    display: flex;
    align-items: flex-end;

    &-ring-slot, &-cuff-slot, &-companion-slot{
        position: relative;
        width: 90px;
        height: 90px;
        background-color: v.$color-slot;
        margin: v.$gutter;
        cursor: pointer;
        border: 0;
        border-radius: v.$round;
        & img{
            width: 100%;
            padding: 2px;
        }
    }
}
.delete-item{
    font-size: v.$font-text;
    background-color: v.$color-cross;
    color: white;
    position: absolute;
    padding: 0 4px;
    z-index: 1;
    width: 15px;
    margin: 5px;
    left: calc(100% - 10px);
    bottom: calc(100% - 8px);
    border: 0;
    &:after{
        display: inline-block;
        content: "\00d7"; /* This will render the 'X' */
    }
    &:hover{
        cursor: pointer;
    }
}